# imageRepository: registry1/user1
ingress:
  domain: example.com
  tls:
  - hosts:
    - example.com
    secretName: tls-example-com 

prometheus:
  persistence:
    size: 10Gi
  retention:
    size: 7GB
    time: 15d
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
    limits:
      cpu: 1000m
      memory: 1000Mi

lethe:
  persistence:
    size: 10Gi
  retention:
    size: 7g
    time: 15d
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
    limits:
      cpu: 1000m
      memory: 1000Mi
